.card{
    height: 32rem;
    position: relative;
    transition: 0.4s all;
    filter: brightness(0.9);

    img{
        object-fit: cover;
        object-position: center;
        height: 100%;
        transition: 0.2s all ease;
        width: 100%;
        
    }

    strong{
        position: absolute;
        top: 30px;
        left: 0;
        font-size: 2.5rem;
        color: var(--white);
        text-transform: uppercase;
        font-weight: 900;
        line-height: 40px;
        padding-top: 3px;
        padding-left: 20px;
        padding-right: 40px;
        transition: 0.3s all;
        opacity: 1;
    }

    &:hover{    
        filter: brightness(1);
        img{
            transform: scale(1.03);
            object-fit: cover;
            object-position: center;
        }
        strong{
            background-color: var(--bg-card); 
            left: -3px;
            opacity: 1;
            text-shadow: 0px 3px 1px rgba(0, 0, 0, 0.20);
        }
    }
}