.footer{
    display: flex;
    flex-direction: row;
    align-items: center;   
    padding: 1.5rem 3.5rem;
    width: 100%;
    background-color: var(--bg-header);
    color: var(--white);
    border-radius: 10px;
    margin: 2.3rem 0 0 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;

    .divisor{
        height: 100px;
        width: 2px;
        background-color: var(--bg-card);

    }
    
    .info{
        width: 50%;
        padding-right: 2.5rem;
        
        h2{
            font-weight: 900;
            font-size: 2.2rem;
            font-family: 'Tungsten Narrow';
        }
        p{
            font-size: .7rem;
            font-weight: 500 !important;
            font-style: normal;
            line-height: 14px;
        }
       
    }

    .navFooter{
        display: grid;
        justify-content: flex-start;
        grid-template-columns: auto auto;
        grid-auto-rows: max-content;
        width: 27%;
       
        padding-left: 2rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        li{
            list-style: none;
            margin-right: 2.4rem;
            font-size: 0.8rem;
            font-weight: 900;
            padding: 0.3rem 0;
            text-transform: uppercase;

        }
    }
    .social{
        padding-left: 1.7rem;
        width: 25%;

        

        P{
            font-size: .85rem;
            font-weight: 900;

            span{
                text-transform: uppercase;
                padding-bottom: 1px;
                border-image: 2px solid var(--bg-card);
            }
        }
        .redesSociais{
            padding-top: 1rem;
            display: flex;
            flex-direction: row;

            img{
                margin-right: 0.6rem;
                width: 27px;
                transition: 0.2s all;
                cursor: pointer;

                &:hover{
                    transform: translateY(-2px);
                }
            }
        }
    }
}

@media (max-width: 568px) {
    .footer{
        flex-direction: column;
        padding: 1.5rem 1.5rem;
        align-items: center;
        text-align: center;

        .divisor{
          display: none;
        }

        .info{
            width: 100%;
            padding-right: 0px;
            order: 2;
            padding-top: 2rem;
            padding-bottom: 2rem;
            
            h2{
                line-height: 38px;
                font-size: 1.8rem;
                margin-bottom: 0.6rem;
            }
            p{
                font-size: 0.6rem;
                line-height: 13px;
                margin-bottom: 0rem;
            }
        }

        .navFooter{
            width: 100%;
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            order: 1;
            padding-top: 0;
            padding-bottom: 0;

            li{
                margin-right: 0px;
                font-size: 0.9rem;
            }
        }
        .social{
            width: 100%;
            padding-left: 0px;
            order: 3;
            
            .redesSociais{
                justify-content: center;
                
                p{
                    span{
                        border-bottom: 2px solid var(--bg-card);
                    }
                }

                img{
                    margin: 0 0.6rem;
                }
            }
        }
    }
}