.nav{
    background-color: #111;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;

    a{
        font-weight: 600;
    }
}

.search{
    .input{
        padding-top: 0.7rem ;
        font-weight: 600;
        padding-bottom: 0.7rem;
        background: linear-gradient(150deg, rgba(255,51,66,1) 0%, rgba(255,48,64,1) 45%, rgba(255,78,79,1) 68%, rgba(255,125,102,1) 100%);
    }
}


@media (max-width: 578px) {
    .nav{
        form{
            display: none;
        }
    }
}