.container {
  padding: 2rem 0;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;

  .title{
    margin-bottom: 1rem;
    h2{
      font-size: 3.5rem;
      font-weight: 900;
      text-transform: uppercase;
      color: var(--color-title);
    }
  }

  /***** SECTION HERO ******/

  .banner{
    padding: 6.5rem 6rem;
    display: flex;
    align-items: center;
    position: relative !important;
    overflow: hidden;

    .info{
      h1{
        font-weight: 900;
        font-size: 6.1rem;
        line-height: 5.8rem;
        color: var(--text-blue);
      }
      
      p{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }
    
    .imgBanner{
      height: 93% !important;
      object-fit: cover;
      height: auto;
      position: absolute;
      right: 0;
      bottom: 0;
      
    }
  }

  @media (max-width: 568px) {
    
    .banner{
      flex-direction: column;
      padding: 0rem;
      .imgBanner{
        position: relative;
        bottom: unset;
        right: unset;
        width: 100%;
        order: 1;
      }

      .info{
        padding: 1.5rem;
        order: 2;
        
        br{
          display: none;
        }

        h1{
          font-size: 4rem;
          line-height: 3.5rem;
        }
        p{
          font-size: 1.3rem;
        }
      }
    }
  }

   /***** SECTION AGENTS ******/
  
  .sectionAgents{
      padding-top: 4rem;
      padding-bottom: 5rem;
      position: relative;

      .overlay1{
        position: absolute;
        width: 59%;
        right: -20px;
        top: 110px;
      }
      .overlay2{
        position: absolute;
        width: 200px;
        right: -46px;
        top: 8px;
      }
      .overlay3{
        position: absolute;
        width: 190px;
        left: 0;
        bottom: -90px;
      }

      .card{
        width: 95%;
      }
  }

  @media (max-width: 568px) {
    .sectionAgents{
      padding-top: 3rem;
      padding-bottom: 4rem;

      .overlay1{
        width: 100%;
        right: -20px;
        top: 138px;
      }
      .overlay2{
        right: -18px;
      }

      .card{
        width: 100%;
      }
    }
  }

   /***** SECTION MODOS DE JOGO ******/
  
  .sectionModes{
    border-radius: 10px;
    background-color: var(--text-blue);
    padding: 3rem 5rem;
    position: relative;
    z-index: 1;

    .overlayModes{
      position: absolute;
      width: 210px;
      right: -45px;
      top: -30px;
    }
    
    .gridCard{
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      width: auto;
      gap: 32px;
      margin-top: 3rem;
      padding-bottom: 2.1rem;
    }

    .title{
      h2{
        color: var(--white);
      }
    }
  }

  @media (max-width: 568px) {
      .sectionModes{
        padding: 3rem 1.5rem;

        .overlayModes{
          width: 60px;
          right: 9px;
          top: -42px;
        }
       
        .gridCard{
          display: flex;
          flex-direction: column;
        }
      }
  }

  /***** SECTION MAPAS ******/

  .sectionMaps{
    padding: 6rem 0 3rem 0;
    position: relative;

    .title{
      position: relative;
    }

    .overlay1{
      position: absolute;
      width: 700px;
      right: 8%;
      top: 26px;
    }
    .overlay2{
      position: absolute;
      width: 125px;
      top: 8px;
      right: -30px;
    }

    .card{
      border-radius: 20px;
      width: 95%;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.33);
      .swiper_slide{
        padding: 0 !important;
        
      }
    }
  }
}

@media (max-width: 568px) {
  .sectionMaps{
    padding: 4rem 0 2rem 0 !important;
    .overlay1{
      width: 100% !important;
      right: 0% !important;
    }

    .overlay2{
      right: -9px !important;
    }
  }
}

 /***** SECTION RANQUES ******/
  
 .sectionRank{
  border-radius: 10px;
  background-color: var(--bg-card);
  padding: 3rem 5rem;
  position: relative;
  z-index: 1;
  margin-top: 2rem;

  .buttonRank{
    background-color: var(--white);
  }

  .overlayModes{
    position: absolute;
    width: 210px;
    right: -45px;
    top: -30px;
  }
  
  .gridCard{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: auto;
    gap: 32px;
    margin-top: 3rem;
    padding-bottom: 2.1rem;
  }

  .title{
    h2{
      color: var(--white);
    }
  }
}

@media (max-width: 568px) {
  .sectionRank{
    padding: 3rem 1.5rem;

    .gridCard{
      flex-direction: column-reverse;
      margin-top: 2rem;
    }
  }
}

@media (max-width: 568px) {
  .main{
    padding: 0 1rem;
  }
}